body {
  font-family: verdana;
  background-image: url(https://images.unsplash.com/photo-1501443762994-82bd5dace89a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aWNlJTIwY3JlYW18ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  height: 100vh;
  margin: 0;
}
main {
  background-color: rgba(255, 255, 255, 0.76);
  margin: 0 auto;
  height: 60%;
  width: 40%;
  text-align: center;
  border: 2px solid grey;
  border-radius: 30% 3%;
}
h1 {
  font-family: Jazz LET, fantasy;
}
h2,
h3,
h4 {
  font-family: URW Chancery L, cursive;
}
ul {
  font-family: cursive;
  list-style-type: none;
  button {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
  }
  button:hover {
    border: 0.5px solid white;
  }
}
.loading {
  background-color: dodgerBlue;
  color: white;
}
.details {
  margin: 5px 5px;
  padding: 5px 5px;
}
